body {
  background: url("background.jpg");
  color: white;
}
A {
  color: white;
}
A:visited{
  color: white;
}
A:active{
  color: white;
}
table, th, td{
  border: 1px solid white;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
}
